*{
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,29,64,1) 5%, rgba(59,57,92,1) 10%);
  height: 85px;
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project{
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}